*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: rgb(155,126,217);
    background: linear-gradient(90deg, rgb(169, 142, 226) 14%, rgba(206,162,240,1) 35%, rgba(229,227,255,1) 100%);
    font-family: 'Roboto',sans-serif;
    font-size: 25px;
    color:#fff;
    font-weight:bold;
    text-align:center;
}
.cajita{
    width: 400px;
    height: auto;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    background:rgb(170, 150, 243);
    box-shadow:0 0  10px black;
    text-align:justify;

}
.cajita:hover{
    transform: scale(1.01);
    border: 2px solid white;

}
span{
    color: blue;
    text-shadow: 0  0  5px  black;
}